.container-fluid {
  background-color: white;
}

section3 {
  color: rgb(206, 44, 44);
  padding: 50px;
  margin-bottom: 2px;
  margin-right: 10px;
}

#colMenu {
  border: 3px solid black;
  margin-right: 3px;
}
#magGlass {
  text-align: end;
}
#one {
  border: 4px solid purple;
}
#two {
  border: 4px solid purple;
}

#highschooler,
#city {
  border: 3px solid blue;
}
#want {
  text-align: center;
  color: green;
  font-size: larger;
}

#submit {
  text-align: justify;
}
