body {
  background-image: url("Romello/jpg");

  min-height: 525px;
  background-size: cover;
}

#intro {
  height: 100vh;
  color: #000;
}

#intro code {
  margin-top: 20px;
  color: white;
}

#intro h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 80px;
  animation: fadin ease-in 1s;
}

#intro h2 {
  /* animation: fadein ease-in 2s; */
}

/* @keyframes fadein{
    from{
        opacity: 0;
    } 
    to opacity: 1; */

#about,
#contact {
  background-color: aqua;
  color: rgb(61, 37, 37);
  padding: 30px;
  margin: 10px 15px 10px 15px;
  border-radius: 55px;
  border-color: black;
}
#about h1 {
  margin-bottom: 0;
}
#about h2 {
  margin-bottom: 0;
}

.col-6 {
  font-size: 25px;
  padding: 10px;
}
#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
#contact a {
  color: rgba(11, 38, 11, 0.458);
}

#colsm12 {
  border-radius: 10px;
}

#contact .btn-primary {
  width: 100%;
  background-color: rgb(28, 68, 68);
}

#Portfolio {
  background: aqua;
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 95px;
}
#cardWeather {
  margin-top: 30px;
}

#card30 {
  margin-top: 350px;
}
#cardMax {
  margin-top: 30px;
  padding-bottom: 85px;
}

footer {
  background-color: black;
  color: white;
  padding: 30px;
  font-size: 30px;
}
.bg-dark {
  background-color: rgb(173, 142, 142) !important;
}
#projectDetails {
  background: #124559;
  color: white;
  padding: 30px;
}

#projectDetails img {
  border-radius: 10px;
}

#projectDetails #arrows {
  font-size: 36px;
  margin-top: 30px;
}
#techStack {
  background-color: brown;
  padding: 3px;
  border-radius: 5px;
}
